@model Magicodes.Shop.Models.WeiChatViewUserAndUserInfo

@{
    ViewBag.Title = "查看";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">上级页面</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.User.Subscribe)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Subscribe)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.NickName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.NickName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.Sex)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Sex)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.City)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.City)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.Country)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Country)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.Province)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Province)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.Language)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Language)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.HeadImgUrl)
                        </dt>

                        <dd>
                            <img class="img-circle" width="48" height="48" src="@Model.User.HeadImgUrl">
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.SubscribeTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.SubscribeTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.UnionId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.UnionId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.User.Remark)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Remark)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Mobile)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Mobile)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Userid)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Userid)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Pwd)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Pwd)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.TrueName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.TrueName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.IdCard)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.IdCard)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Address)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.WorkPlace_1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.WorkPlace_1)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Business_scope_1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Business_scope_1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Tel_1)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Tel_1)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.WorkPlace_2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.WorkPlace_2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Business_scope_2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Business_scope_2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Tel_2)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Tel_2)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.WorkPlace_3)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.WorkPlace_3)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Business_scope_3)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Business_scope_3)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Userinfo.Tel_3)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Userinfo.Tel_3)
                        </dd>


                        @*<dt>
                                @Html.DisplayNameFor(model => model.GroupId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.GroupId)
                            </dd>*@

                        @*<dt>
                                @Html.DisplayNameFor(model => model.AllowTest)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AllowTest)
                            </dd>*@

                    </dl>
                    <p>
                        @Html.ActionLink("设置备注", "Edit", new {id = Model.User.OpenId}) |
                        @Html.ActionLink("返回", "Index")
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">
        $(function() {
            $("input[type=checkbox]")
                .iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
        });
    </script>
}