@model Magicodes.WeiChat.Data.Models.Logistics.Logistics_FreightTemplate

@{
    ViewBag.Title = "编辑物流运费模板";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">上级页面</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            @Html.HiddenFor(model => model.Id)
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new {@class = "control-label col-sm-2"})
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                                    @*<span class="help-block m-b-none">辅助性描述文字。</span>*@
                                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, new {@class = "control-label col-sm-2"})
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Price, new {htmlAttributes = new {onpaste = "return false", ondrageenter = "return false", onkeyup = "this.value=check(this.value);", onkeydown = "return event.keyCode>=48 && event.keyCode<=57||event.keyCode>=96 &&event.keyCode<=105 || event.keyCode==8 || event.keyCode==110 ||event.keyCode==190;", @class = "form-control", data_type = "number"}})
                                    @*<span class="help-block m-b-none">辅助性描述文字。</span>*@
                                    @Html.ValidationMessageFor(model => model.Price, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remark, new {@class = "control-label col-sm-2"})
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.Remark, new {htmlAttributes = new {@class = "form-control"}})
                                    @*<span class="help-block m-b-none">辅助性描述文字。</span>*@
                                    @Html.ValidationMessageFor(model => model.Remark, "", new {@class = "text-danger"})
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.IsDefault, new {@class = "control-label col-sm-2"})
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.IsDefault, new {htmlAttributes = new {@class = "i-checks"}})
                                        @*<span class="help-block m-b-none">辅助性描述文字。</span>*@
                                        @Html.ValidationMessageFor(model => model.IsDefault, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;提交</button>
                                    <a href="@Url.Action("Index")" class="btn btn-primary"><i class="fa fa-mail-reply"></i>&nbsp;返回</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @*请自行移除没用到的样式*@
    @*复选框样式*@
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles");
    @*日期控件样式*@
    @Styles.Render("~/plugins/dataPickerStyles");
    @Styles.Render("~/plugins/touchSpinStyles");
}

@section Scripts {
    @*请自行移除没用到的脚本*@
    @Scripts.Render("~/bundles/jqueryval");
    @*复选框脚本*@
    @Scripts.Render("~/plugins/iCheck");

    @Scripts.Render("~/plugins/touchSpin");
    <script>
        function check(str) {
            var temp = "";
            for (var i = 0; i < str.length; i++)
                if (str.charCodeAt(i) > 0 && str.charCodeAt(i) < 255)
                    temp += str.charAt(i);
            return temp;
        };

        $(function() {
            mwc.bs.init();
            mwc.bs.initFormControls();
        });
    </script>
}