@model Magicodes.WeiChat.Data.Models.Log.Log_Withdraw

@{
    ViewBag.Title = "编辑";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">上级页面</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CreateTime)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CreateTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.WithdrawTime)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.WithdrawTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.OpenId)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.OpenId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Phone)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TrueName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.TrueName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.WithdrawAmount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.WithdrawAmount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ActualAmount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ActualAmount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Remark)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Remark)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.ApprovalComments, new {@class = "control-label col-sm-2"})
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.ApprovalComments, new {htmlAttributes = new {@class = "form-control"}})
                                    @*<span class="help-block m-b-none">辅助性描述文字。</span>*@
                                    @Html.ValidationMessageFor(model => model.ApprovalComments, "", new {@class = "text-danger"})
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;提交</button>
                                    <a href="@Url.Action("Index")" class="btn btn-primary"><i class="fa fa-mail-reply"></i>&nbsp;返回</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @*请自行移除没用到的样式*@
    @*复选框样式*@
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @*日期控件样式*@
    @Styles.Render("~/plugins/dataPickerStyles")
}