@model Magicodes.WeiChat.Data.Models.WeiChat.WeiChat_KeyWordNewsArticle

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LightLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.CreateUser)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateUser.UserName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PicUrl)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PicUrl)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Url)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Url)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UpdateUser)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdateUser.UserName)
                        </dd>
                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <button type="button" class="btn btn-warning pull-right" id="btnDelete"><i class="fa fa-remove"></i>&nbsp;&nbsp;删除</button>
                            <br/>
                            @Html.ActionLink("返回", "Index")
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">
        $(function() {
            $("input[type=checkbox]")
                .iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
            $('#btnDelete')
                .on('click',
                    function() {
                        mwc.message.confirm("确定要删除么？",
                            "警告",
                            function(result) {
                                if (result) {
                                    mwc.ui.setBusy();
                                    $('form').submit();
                                }
                            });
                    });
        });
    </script>
}