@model Magicodes.Shop.Models.WeiChatViewUserAndUserInfo



<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins" >
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;" />
                    <dl class="dl-horizontal">
                 
                        <dt>
                            &nbsp; &nbsp; @Html.DisplayNameFor(model => model.User.NickName)： &nbsp; 
                            @Html.DisplayFor(model => model.User.NickName)
                        </dt>

                        <dt>
                          
                        </dt>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.Sex)： &nbsp; 
                            @Html.DisplayFor(model => model.User.Sex)
                        </dt>

                        <dd>
                           
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.City)：
                            @Html.DisplayFor(model => model.User.City)
                        </dt>

                        <dd>
                         
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.Country)：
                            @Html.DisplayFor(model => model.User.Country)
                        </dt>

                        <dd>
                           
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.Province)：
                            @Html.DisplayFor(model => model.User.Province)
                        </dt>

                        <dd>
                         
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.Language)： &nbsp;
                            @Html.DisplayFor(model => model.User.Language)
                        </dt>

                        <dd>
                       
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.HeadImgUrl)： &nbsp;
                            <img class="img-circle" width="48" height="48" src="@Model.User.HeadImgUrl">
                        </dt>

                        <dd>
                        
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.SubscribeTime)：
                            @Html.DisplayFor(model => model.User.SubscribeTime)
                        </dt>

                        <dd>
                          
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.UnionId)：
                            @Html.DisplayFor(model => model.User.UnionId)
                        </dt>

                        <dd>
                         
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.User.Remark)： &nbsp;
                            @Html.DisplayFor(model => model.User.Remark)
                        </dt>

                        <dd>
                        
                        </dd>
                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Email)： &nbsp;
                            @Html.DisplayFor(model => model.Userinfo.Email)
                        </dt>

                        <dd>
                        
                        </dd>
                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Mobile)： &nbsp;
                            @Html.DisplayFor(model => model.Userinfo.Mobile)
                        </dt>

                        <dd>
                        
                        </dd>
                    
                   
                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.IdCard)：
                            @Html.DisplayFor(model => model.Userinfo.IdCard)
                        </dt>

                        <dd>
                           
                        </dd>
                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Address)： &nbsp;
                            @Html.DisplayFor(model => model.Userinfo.Address)
                        </dt>

                        <dd>
                           
                        </dd>
                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.WorkPlace_1)：
                            @Html.DisplayFor(model => model.Userinfo.WorkPlace_1)
                        </dt>

                        <dd>
                         
                        </dd>
                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Business_scope_1)：
                            @Html.DisplayFor(model => model.Userinfo.Business_scope_1)
                        </dt>

                        <dd>
                          
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Tel_1)：
                            @Html.DisplayFor(model => model.Userinfo.Tel_1)
                        </dt>

                        <dd>
                        
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.WorkPlace_2)：
                            @Html.DisplayFor(model => model.Userinfo.WorkPlace_2)
                        </dt>

                        <dd>
                        
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Business_scope_2)：
                            @Html.DisplayFor(model => model.Userinfo.Business_scope_2)
                        </dt>

                        <dd>
                          
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Tel_2)：
                            @Html.DisplayFor(model => model.Userinfo.Tel_2)
                        </dt>

                        <dd>
                         
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.WorkPlace_3)：
                            @Html.DisplayFor(model => model.Userinfo.WorkPlace_3)
                        </dt>

                        <dd>
                         
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Business_scope_3)：
                            @Html.DisplayFor(model => model.Userinfo.Business_scope_3)
                        </dt>

                        <dd>
                       
                        </dd>

                        <dt>
                            &nbsp; &nbsp;
                            @Html.DisplayNameFor(model => model.Userinfo.Tel_3)：
                            @Html.DisplayFor(model => model.Userinfo.Tel_3)
                        </dt>

                        <dd>
                           
                        </dd>


                        @*<dt>
                                @Html.DisplayNameFor(model => model.GroupId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.GroupId)
                            </dd>*@

                        @*<dt>
                                @Html.DisplayNameFor(model => model.AllowTest)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AllowTest)
                            </dd>*@

                    </dl>
                  
                </div>

            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">
        $(function() {
            $("input[type=checkbox]")
                .iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
        });
    </script>
}