@using Webdiyer.WebControls.Mvc
@model PagedList<Magicodes.WeiChat.Data.Models.Product.Product_Attribute>

@{
    ViewBag.Title = "商品属性管理";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a href="/Product_Type">@ViewBag.TypeName</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    <div class="row">
                        <div class="col-sm-3">
                            @*@using (Html.BeginForm("Index", @Request.RequestContext.RouteData.GetRequiredString("controller"), FormMethod.Get))
                            {
                                <div class="input-group">
                                    @Html.TextBox("q", ViewBag.q as string, new { @placeholder = "请输入关键字", @class = "input-sm form-control" })
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>&nbsp;搜索</button>
                                    </span>
                                </div>
                            }*@
                        </div>
                        <a class="btn btn-primary btn-sm" href="javascript:void(0);" id="btnAdd" onclick="addClick();"><i class="fa fa-plus"></i>&nbsp;新建</a>
                        @*<a class="btn btn-warning btn-sm" id="btnDelete" data-controller="wfx_Tag" data-action="Delete" data-comfirmmessage="确定删除所选内容么？"><i class="fa fa-remove"></i>&nbsp;批量删除</a>*@
                    </div>
                    <div>
                        <table class="table table-striped table-bordered table-hover" style="overflow-x: scroll">
                            <tr>
                                <th>
                                    <input type="checkbox" name="checkAll" id="chkCheckAll" class="i-checks"/>
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreateTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdateTime)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="ids" class="i-checks" value="@(item.Id)"/>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdateTime)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-white" href="javascript:void(0);" onclick="updateClick('@item.Id', '@item.Name');">编辑</a>
                                            <a class="btn btn-white" href="javascript:void(0);" onclick="deleteClick('@item.Id')">删除</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="row">
                        @Html.Partial("_BootStrapPager", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">
        $(function() {
            mwc.bs.init();
        });
        //标签添加事件
        addClick = function() {
            mwc.message.prompt("请输入属性名称",
                "",
                "添加商品属性",
                function(inputValue) {
                    var data = { Name: inputValue, TypeId: "@ViewBag.TypeId" };
                    mwc.restApi.post({
                        //请求地址
                        url: '/Product_Attribute/CreateAttribute/',
                        data: data,
                        //是否锁定UI
                        isBlockUI: true,
                        //成功函数
                        success: function(data) {
                            location.reload();
                        }
                    });
                });
        };
        //标签修改事件
        updateClick = function(id, value) {
            mwc.message.prompt("请输入属性名称",
                value,
                "修改商品属性",
                function(inputValue) {
                    var data = { Id: id, Name: inputValue, TypeId: "@ViewBag.TypeId" };
                    mwc.restApi.post({
                        //请求地址
                        url: '/Product_Attribute/UpdateAttribute/',
                        data: data,
                        //是否锁定UI
                        isBlockUI: true,
                        //成功函数
                        success: function(data) {
                            location.reload();
                        }
                    });
                });
        };
        deleteClick = function(id) {
            mwc.message.confirm("确定要删除么？",
                "警告",
                function(result) {
                    if (result) {
                        var data = { Id: id };
                        mwc.ui.setBusy();
                        mwc.restApi.post({
                            //请求地址
                            url: '/Product_Attribute/DeleteAttribute/',
                            data: data,
                            //是否锁定UI
                            isBlockUI: true,
                            //成功函数
                            success: function(data) {
                                location.reload();
                            }
                        });
                    }
                });
        };
    </script>
}