@model Magicodes.WeiChat.Data.Models.Settings.Settings_AliMsg

@{
    ViewBag.Title = "阿里短信接口设置";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">主页</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    @using (Html.BeginForm("Index", "Settings_AliMsg", FormMethod.Post))
                    {
                        <div>
                            <div class="row">
                                <input id="Id" name="Id" value=@Model.Id style="display: none;">
                                <div class="form-horizontal">
                                    <div class="form-group" id="AppKey">
                                        @Html.LabelFor(m => m.AppKey, new {@class = "col-md-2 control-label"})
                                        <div class="col-sm-2">
                                            @Html.EditorFor(model => model.AppKey, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(model => model.AppKey, "", new {@class = "text-danger"})
                                        </div>
                                    </div>

                                    <div class="form-group" id="Secret">
                                        @Html.LabelFor(m => m.Secret, new {@class = "col-md-2 control-label"})
                                        <div class="col-sm-2">
                                            @Html.EditorFor(model => model.Secret, new {htmlAttributes = new {@class = "form-control"}})
                                            @Html.ValidationMessageFor(model => model.Secret, "", new {@class = "text-danger"})
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-2 control-label"></div>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;<strong>保存</strong></button>
                                            <a class="btn btn-white" href="javascript:void(0)" data-title="测试接口" data-url="@Url.Action("TestMsg")" data-clicktype="modal">测试接口</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/plugins/switcheryStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/laddaStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/switchery")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/ladda")
    <script>
        $(function() {
            $('input[type=checkbox]').attr('data-type', 'switch');
            mwc.bs.initFormControls();
            mwc.bs.initCheckedChange();
            mwc.bs.init({ loadingButton: true });
        });
        var msg = '@(ViewBag.Message)';
        if (@ViewBag.Success.ToString().ToLower() == true) {
            mwc.message.success(msg, "提示");
        }
    </script>

}