@model Magicodes.WeiChat.Data.Models.Site.Site_ResourceType
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LightLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                @using (Html.BeginRouteForm("UploadProductImagesRoute", new {Id = Request.RequestContext.RouteData.Values["Id"]}, FormMethod.Post, new {@class = "dropzone", id = "my-awesome-dropzone", enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="dropzone-previews"></div>
                }
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dropZone")

    <script type="text/javascript">

        $(document)
            .ready(function() {
                Dropzone.options.myAwesomeDropzone = {
                    autoProcessQueue: true,
                    parallelUploads: 100,
                    maxFilesize: @ViewBag.maxFilesize, //M
                    paramName: "files",
                    acceptedFiles: "@ViewBag.acceptedFiles",
                    // Dropzone settings
                    init: function() {
                        myDropzone = this;
                        this.on("sendingmultiple",
                            function() {
                            });
                        this.on("successmultiple",
                            function(files, response) {
                                //console.debug(files, response, "successmultiple");
                                //showUploadMessage(myDropzone, JSON.parse(file.xhr.response));
                            });
                        this.on("success",
                            function(file) {
                                var data = JSON.parse(file.xhr.response);
                                if (!data.Success) {
                                    mwc.notify.warn(data.Message);
                                }
                            });
                        this.on("complete",
                            function(file) {
                                //if (file.xhr && file.xhr.response)
                                //    showUploadMessage(myDropzone, JSON.parse(file.xhr.response), file);
                            });
                        this.on("completemultiple",
                            function(f) {
                                console.debug(f, "completemultiple");
                            });
                        this.on("errormultiple",
                            function(files, response) {
                                var data = JSON.parse(response);
                                if (!data.Success) {
                                    mwc.notify.warn(data.Message);
                                }
                            });
                        this.on("queuecomplete",
                            function() {
                                console.debug(myDropzone, "queuecomplete");
                                //重新加载素材列表
                                parent.CurrentModel.Init();
                                setTimeout(function() {
                                        mwc.window.closeSeft();
                                    },
                                    800);
                            });
                    }

                };
            });
    </script>
}