@model AppUser

@{
    ViewBag.Title = "查看";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">上级页面</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.OpenId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.OpenId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.EmailConfirmed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EmailConfirmed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PasswordHash)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PasswordHash)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SecurityStamp)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SecurityStamp)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TwoFactorEnabled)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LockoutEndDateUtc)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LockoutEnabled)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LockoutEnabled)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.AccessFailedCount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.AccessFailedCount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("编辑", "Edit", new {id = Model.Id}) |
                    @Html.ActionLink("返回", "Index")
                </p>
            </div>
        </div>
    </div>
</div>