@model Magicodes.WeiChat.Data.Models.User.User_Info

@{
    ViewBag.Title = "查看";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">主页</a>
            </li>
            <li>
                <a href="@Url.Action("Index")">上级页面</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.UserNo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserNo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Mobile)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.State)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.State)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Integral)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Integral)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Balance)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Balance)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LastLoginOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastLoginOn)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.LoginCount)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LoginCount)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TrueName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TrueName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TenantId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenantId)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.CreateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateTime)
                        </dd>

                    </dl>
                    <p>
                        @Html.ActionLink("编辑", "Edit", new {id = Model.OpenId}) |
                        @Html.ActionLink("返回", "Index")
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">
        $(function() {
            $("input[type=checkbox]")
                .iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
        });
    </script>
}