@model Magicodes.WeiChat.Data.Models.WeiChat.WeiChat_KeyWordAutoReply
@{
    Layout = null;
}
<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <dl class="dl-horizontal">
                @*<dt>
                @Html.DisplayNameFor(model => model.CreateUser.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateUser.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdateUser.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdateUser.UserName)
            </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.KeyWord)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KeyWord)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreateTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UpdateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UpdateTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MatchType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MatchType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.KeyWordContentType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.KeyWordContentType)
                </dd>

                @*<dt>
                @Html.DisplayNameFor(model => model.ContentId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ContentId)
            </dd>*@

                @*<dt>
                @Html.DisplayNameFor(model => model.AppId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AppId)
            </dd>*@

            </dl>
        </div>

    </div>
</div>