@model Magicodes.WeiChat.Data.Models.WeiChat.WeiChat_KeyWordAutoReply

@{
    ViewBag.TwoTitle = "关键字回复";
}
@Html.Partial("_FormHead")

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <hr style="margin: 2px 2px 10px 2px;"/>
                    @Html.Partial("_FormDetails", Model)
                    <p>
                        @Html.ActionLink("编辑", "Edit", new {id = Model.Id}) |
                        @Html.ActionLink("返回", "Index")
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    <script type="text/javascript">
        $(function() {
            $("input[type=checkbox]")
                .iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
        });
    </script>
}